
#koala,
#pooh,
#sloth {
    width:250px;
    height:250px;
    margin: 25px;
}

.col-md-4 {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align:center;
    padding:15px;
    margin-bottom:25px;
}

.jumbotron {
    text-align: center;
}

.card {
    text-align:center;
    margin:35px auto;
}


.container {
    margin-top:75px;
    margin-bottom:75px;
}

.text-center {
    padding-bottom:30px;
}

.indexphotos {
    width: 550px;
    height: 550px;
    margin: 50px auto;
}

.navbar-text {
    font-weight: bolder;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: lightgrey;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
    color: black;
    text-align: center;
    letter-spacing: 20px;
  }

  h6 {
      margin:5px;
  }

  .smallfrog {
      height:30px;
      width:30px;
      padding:5px;
      margin-right: 15px;
  }

  /* @media screen and (max-width: 991px) {
    #bigfrog {
        width:200px;
        height:200px;
    }
    .indexphotos {
        width: 75%;
        height: 75%;
    }

  } */