body {
    background-color: moccasin;
}
.jumbotron {
    margin: 20px;
}

.my-photos {
    width: 250px;
    height: 250px;
}
.projects-heading {
    margin: 25px;
}
.card {
    margin: 15px;
}
.projects {
    width: 350px;
    height: 300px;
}
/* .indexphotos {
    width: 450px;
    height: 450px;
    margin: 10px auto;
} */