body {
    font-family: 'Poppins', sans-serif;
    background-color: moccasin;
}
.jumbotron {
    margin: 20px;
}

.my-photos {
    margin-left: 35px;
    margin-right:35px;
    width: 250px;
    height: 250px;
}
.projects-heading {
    margin: 25px;
}
.card {
    margin: 15px;
}
.projects {
    width: 350px;
    height: 300px;
}
.contact-head {
    margin:30px;
}
.icons {
    margin-bottom: 25px;
    width:75px;
    height: 75px;
}
.languages {
    margin: 10px;
    width: 100px;
    height: 100px;
}
/* .indexphotos {
    width: 450px;
    height: 450px;
    margin: 10px auto;
} */